@font-face {
  font-family: myfont;
  src: url("impact.ttf");
}

@font-face {
  font-family: font2;
  src: url("spartan.ttf");
}
@font-face {
  font-family: font3;
  src: url("Montserrat-Italic.ttf");
}
body {
  padding:0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: #ffffff;
}

.header {
  position:fixed;
  background-color: black;
  padding: 5px;
  display: flex;
   width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 1);
  transition: background-color 0.3s ease; 
}

.header .logo-container {
  display: flex;
  align-items: center;
}

.header img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

.logo {
  width: 85px;
  height: auto;
}

.second-logo {
  width: 270px;
  height: auto;
  margin-left: 10px;
}

.menu-container {
  position: relative;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  display: flex;
  margin-right: 3.4px;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
}

.menu-button span {
  display: block;
  width: 35px;
  height: 4px;
  margin-right:20px;
  background-color: #ff6200;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
   z-index: 10;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  color: #f4762a;
  text-decoration: none;
  font-size: 30px;
}

.menu.active {
  display: block;
}

nav {
  margin-right: 20px;
}
#hero {
  position: relative;
  height: 100vh;
  height: 350px;
  overflow: hidden;
  text-align: center;
}
html, body {
    height: 100%;
}

.video {
width: 100%;
    height: 100%;
  object-fit: cover;

}
.video-container{
  object-fit: cover;
  width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.slide{
  position: relative;
  z-index:-1;
  top: 0;
  left: 0;
  right:0;
  transition: opacity 2s ease-in-out; /* Smooth transition between slides */
  object-fit: cover;
} 
.text-content {
  font-family: font2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-content h1 {
  font-family: font2;
  font-size: 3em;
  color:#f4762a;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: fadeIn 2s ease-out;
}

.text-content p {
  font-size: 1.5em;
  color: #00aaff;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s ease-out 1s;
}

#hero h1 {
  color: #ff6200;
  font-size: 48px;
}

#hero p {
  font-size: 24px;
  color: #00aaff;
}

section {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  color: #ff6200;
  font-size: 30px;
}

.center-text {
  text-align: center;
}

p.center-text {

  font-size: 1.5em;
}
#programs {
  background-color:  #141414;; /* Set background color for the entire programs section */
}
#programs h2 {
  font-size: 50px;
  padding: 10px; /* Add padding for better visibility */
  margin-top: 0; /* Remove default margin for the h2 */

   text-shadow:
    /* Inner shadow for a slight glow */
    0 0 0 3px rgba(#ff6600, 1),
    /* Outer shadow for a diffused glow */
    0 0 7px 4px rgba(#ff6600, 0.5);
  
}

.programs-container {
  justify-content: center;
  align-items: stretch;
  font-family: font2;
  display: flex;
  text-align: left;
  justify-content: center;
}
.program {
 /* Set background color for each program */
  position: relative;
  display: flex;
  margin-bottom: 0;
  padding:30px;
  justify-content: space-between;
  flex-direction: column;
}

.program img {
  width:50px;
  height: auto;
  border-radius: 50%;
  opacity:0.7;
  display: block; /* Make the image a block element */
  margin: auto; /* Center horizontally and vertically */
  margin-top: 55px;
}
.card {
    POSITION:relative;
    background-image: url("/images/WhatsApp%20Image%202024-06-11%20at%2012.16.28%20PM.jpeg"); /* Replace with your image path */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center; /* Center the image horizontally */
    background-size: cover; /* Stretch the image to cover the entire card */
    width: 130px; /* Adjust width as needed */
    height: 200px; 
    background-color: #f4762a;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
    transition: transform 0.2s ease-in-out; /* Animation properties */
    cursor: pointer; /* Optional: Set cursor to indicate interaction */
}

.card:hover {
  transform: scale(1.1); /* Zoom in on hover */
}
.card-text { /* Replace with your actual selector */
  color: #fff; /* Set text color to white for better contrast */
  text-shadow:
    /* Inner shadow for a slight glow */
    0 0 0 3px rgba(#ff2600, 1),
    /* Outer shadow for a diffused glow */
    0 0 7px 4px rgba(#ff2600, 0.5);
}

.program h3{
justify-content: space-between;
  font-family: font2;
  margin: 5px 0px; /* Adjust margin to separate elements */
  margin-bottom: 50px; 
  text-align: center;
  display: block;
}
.overlay {
  position: absolute;
  top: 0%;
  transform: translate(-16%, -0.2%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the color and opacity of the overlay */
  z-index: 1; /* Ensure it is above the image but below the text */
  pointer-events: none; /* Allow clicks to pass through the overlay */
}

.text {
  position: relative;
  z-index: 2; /* Ensure the text is above the overlay */
  text-align: center;
  padding: 20px;
  color: white; /* Ensure the text color is white */
}
#team{
background-color: #141414; /* Set background color for the entire programs section */
}
#team .text-container h2 span {  /* Target spans within the text container */
  display: inline-block;  /* Ensures spans appear next to each other */
  overflow: hidden;  /* Ensures content is not revealed until animation */
}

/* Styles for the Team section */
#team h2 {
  text-align: left;
   line-height: 0.9;
  font-size:106px;
  font-family: font2;
  margin-right: 370px;
   margin-bottom:105px;
}
  .team-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap; /* Prevents wrapping to the next line */
    overflow-x: hidden; /* Allows horizontal scrolling if needed */
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns items to the right */
}

.team-member {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.team-member p {
 color: white;
  margin: 15px 0;
  margin-left:24px;
  }
.team-member h3 {
 font-size:35px;
 color: #ff6200;
 margin-top: 15px ;/* Space above and below heading */
 margin-bottom:15px ;
 margin-left:24px;
}

.team-member img {
    width: auto;
    max-width: 230px;
    max-height: 320px;
    object-fit: cover;
    margin-bottom: 30px;/* Space between image and text */
    margin-left: 24px;
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.team-member img:hover {
    transform: scale(1.1); /* Scale the image to 110% on hover */
}
#contact-container {
  display: flex;
  justify-content: space-around;
  align-items:center;
  padding:17px;
  z-index:2;
}

#contact {
  background-image:url("/images/contact.jpeg");
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image horizontally */
  background-size: cover; /* Stretch the image to cover the entire card */
  height:40vh;
  opacity:1;
  padding: 20px;
  width: 95.2vw;
  display:flex;
  align-items: center; /* Center items vertically */
  justify-content:center; /* Center items horizontally */
}
#contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
    z-index: 1; /* Ensure the overlay is above the background but below the text */
}
#contact p {
  color:white;
  font-weight: bold;
  opacity: 1;
   margin: 0 44px; /* Add horizontal margin to create space between paragraphs */
}
#contact p:last-child {
  margin-right: 10px;
}
.instagram-link {
    color: #ffffff; /* Adjust color to match your design */
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4); /* Optional: Add background color */
  border-radius: 50%;  /* Optional: Add rounded corners */
    transition: background-color 0.3s ease; /* Optional: Add transition for hover effect */
    display: inline-flex;
    align-items: center;
}
.instagram-link:hover {
    background-color: rgba(255, 102, 0, 0.6); /* Change background color on hover */
}
footer {
    border-top: 1px solid black; /* Add this line */
    text-align: center;
    padding: 20px 0;
    background-color: #141414;
    color: #FFFFFF;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0099FF; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff6200; 
}

.animate-on-scroll {
    opacity: 0;
     filter:blur(5px);
    transform: translateX(50px); /* Start with an offset to the right */
    transition: transform 0.8s ease-out, opacity 1s ease-out;
}

/* Animation state for elements when they come into view */
.animate-on-scroll.animate {
    opacity: 1;
      filter:blur(0);
    transform: translateX(0); /* Move to original position */
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.animate {
    opacity: 1;
}
.slide-up {
    transform: translateY(100px); /* Initial transform effect for slide-up */
}

.slide-up.animate {
    transform: translateY(0); /* Transform effect for slide-up when visible */
}
.typewriter-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0; /* Initially set width to 0 */
  visibility: hidden; /* Hide text initially */
  border-right: none; /* Remove cursor */
}
.typewriter {
  visibility: visible; /* Make text visible */
  animation: typewriter 4s steps(40, end) forwards;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
/* Keyframes for sliding left */
@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Class to apply the slide left animation */
.slide-left {
    animation: slideLeft 3s ease forwards; /* Adjust duration and easing as needed */
    animation-delay: 1.5s;
}


/* Mobile-first approach */
@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .logo {
        width: 60px; /* Decrease logo size for smaller screens */
    }
    .second-logo {
        width: 200px; /* Decrease second logo size for smaller screens */
    }
    .header {
        padding: 10px; /* Increase padding for header on smaller screens */
    }
    .menu-button span {
        width: 25px; /* Decrease menu button span width for smaller screens */
    }
    .menu ul li a {
        font-size: 24px; /* Decrease font size of menu items for smaller screens */
    }
    .video-container {
        height: 60vh; /* Decrease video container height for smaller screens */
    }
    .text-content h1 {
        font-size: 2em; /* Decrease font size of heading for smaller screens */
    }
    .card {
        width: 100px; /* Decrease card width for smaller screens */
        height: 150px; /* Decrease card height for smaller screens */
        margin: 5px; /* Adjust margin for cards on smaller screens */
    }
    .team-member h3 {
        font-size: 24px; /* Decrease font size of team member headings for smaller screens */
    }
    #hero h1 {
        font-size: 36px; /* Decrease font size of hero heading for smaller screens */
    }
    section {
        padding: 40px 10px; /* Decrease section padding for smaller screens */
    }
}

/* Tablet and larger screens */
@media (min-width: 769px) {
    /* Additional styles for tablets and larger screens */
    .menu-button span {
        margin-right: 15px; /* Adjust margin for menu button span */
    }
    .menu {
        padding: 15px; /* Adjust padding for menu on larger screens */
    }
    .text-content h1 {
        font-size: 3em; /* Increase font size of heading for tablets */
    }
    .card {
        width: 150px; /* Increase card width for tablets */
        height: 220px; /* Increase card height for tablets */
    }
}
